.navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.navigation__list {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.navigation--item {
    color: #0b0a0a;
    font-weight: 500;
    transition: all 0.3s ease-in;

}

.navigation--item:hover {
    transition: all 0.3s ease-in;
}