$panel: #dbd6d0;
$accent: #81b4e5;
$gray: #8f8f8f;

.cart-modal__title {
  font-size: 25px;
  font-weight: 700;
  margin: 50px 0;
  text-align: center;
  line-height: 2.5rem;
}

// AUTH
.cart-modal__auth {
  display: flex;

}

.cart-modal__auth-login {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 25px;
}

.cart-modal__auth-info {
  width: 300px;
  background: $accent;
  padding: 0 25px;

  p {
    line-height: 150%;

  }

  a {
    color: white;
  }

}

// AUTH


.cart-modal {
  display: flex;
  //flex-direction: column;
  //flex-wrap: wrap;
  background: #1258c4;
}
.cart-modal__subtitle {
  font-size: 20px;
  font-weight: 500;
}

.cart-modal__part {
  margin: 35px;

  p {
    margin: 10px 0;
  }

}

.cart-modal__radio {
  //display: flex;
  //flex-direction: column;
}