$panel: #dbd6d0;
$accent: #81b4e5;
$gray: #8f8f8f;

.cart-modal__title {
  font-size: 25px;
  font-weight: 700;
  margin: 50px 0;
  text-align: center;
  line-height: 2.5rem;
}

.cart-modal__subtitle {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

// AUTH
.cart-modal__auth {
  display: flex;
}

.cart-modal__auth-login {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 25px;
}

.cart-modal__auth-info {
  width: 300px;
  background: $accent;
  padding: 0 25px;

  p {
    line-height: 150%;

  }

  a {
    color: white;
  }

}

// ORDER
.cart-modal {
  display: flex;
  justify-content: space-between;

  span {
    font-size: 20px;
    font-weight: 500;
    color: black;
  }
}

.cart-modal__data {
  padding: 30px;
  background: $panel;

  div {
    margin: 25px 0;
  }

  p {
    margin: 10px;


  }

  a {
    margin-top: 10px;
    color: $gray;
  }

}

.cart-modal__radio {
  display: flex;
  flex-direction: column;
}

.cart-modal__result {
  padding: 30px;

  p {
    margin: 15px 0;
    color: #686869;
  }
}

.cart-modal__result-price {
  color: black;
  font-size: 20px;
  font-weight: 500;
  border-top: 2px solid $accent;
  padding-top: 10px;
  text-align: center;
}

