$panel: #dbd6d0;

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: $panel;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  i {
    font-size: 25px;
  }
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10%;
}




