// HEADER
.home__header {
  padding-top: 60px;
  background-image: url("./../../../public/assets/header.jpeg");
  display: block;
  height: 600px;
  width: 100%;
}

.home__header--text {
  max-width: 550px;
  padding: 50px 0;
}

.home__header--text h1{
  font-weight: 700;
  font-size: 100px;
  color: #FFFFFF;
}

.home__header--text p{
  padding-top: 50px;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  color: #FFFFFF;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

// CATEGORIES
.home__categories h2 {
  font-weight: 700;
  font-size: 30px;
  padding-top: 100px;
}

.categories__card {
  background-size: cover;
  width: 350px;
  height: 400px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 25px;

  p {
    padding: 30px;
  }

}

// ABOUT
.about {
  padding: 120px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__text {
  max-width: 600px;
}

.about__title {
  margin-bottom: 107px;
  font-weight: 400;
  font-size: 20px;
}

.about__subtitle {
  max-width: 350px;
  font-weight: 700;
  font-size: 50px;
  line-height: 73px;
}

.about__description {
  padding-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8B8B8B;
}

// FEATURED
.featured {
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.featured__text {
  width: 400px;
  margin-bottom: 70px;

  h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 73px;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #8B8B8B;
  }

}