.edit-container .container {
  display: flex;
  justify-content: center;
}

.edit-card {
  width: 400px;
  margin: 20px 0 100px 0;
  padding: 50px;
  background: rgba(196, 196, 196, 0.3);

  .button-submit {
    margin: 0;
  }
}

.edit__btn-delete {
  margin-top: 30px;
  text-align: center;
  color: $error;
  transition: color 0.3s ease-in;

  &:hover {
    color: #0b0a0a;
    transition: color 0.3s ease-in;
  }
}

.edit-modal {
  display: flex;
  flex-direction: column;
  justify-items: center;

  button {
    margin: 10px 0;
  }
}

.edit-modal__title {
  text-align: center;
  color: $error;
  font-size: 20px;
  font-weight: 500;
}

.edit-modal__subtitle {
  margin: 10px 0;
}

.edit-modal__btn-yes {
  padding: 10px 10px;
  border-radius: 5px;
  background: $error;
  color: white;

  &:hover {
  background: white;
  color: $error;
  }
}

.edit-modal__btn-no {
  padding: 10px 10px;
  border-radius: 5px;
  background: gray;
}