.profile .container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;

  h1 {
    position: relative;

    &::before {
      background-image: url("../../assets/profile.svg");
      background-size: cover;
      position: absolute;
      content: "";
      z-index: -12;
      width: 400px;
      height: 400px;
      top:-170%;
      left:-20%;
    }
  }
}

.profile__btn {
  color: $gray;
  cursor: pointer;

  &:hover {
    color: $accent;
  }

}

.profile__title {
  margin: 15px 0;
  font-size: 25px;
  font-weight: 700;

}

.profile__subtitle {
  font-size: 18px;
  font-weight: 700;
}

.profile__form-element {
  span {
    font-weight: 500;
  }

}

.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;


  h1 {
    font-size: 60px;
    font-weight: 700;
  }

}

.profile__sale{
  font-size: 15px;
  max-width: 500px;
  line-height: 140%;
}

.profile__contacts {
  position: relative;
  max-width: 300px;
  padding: 15px;

  li {
    margin: 15px 0;
  }

  &::before {
    background-image: url("../../assets/contacts.svg");
    background-size: cover;
    position: absolute;
    content: "";
    z-index: -12;
    width: 400px;
    height: 400px;
    top:-50%;
    left:-20%;
  }

}

.orders-list {
  background: $light-gray;
  padding: 20px 40px;
  border-radius: 5px;
}

.orders-info {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}

.order-item {
  padding: 25px 0;
}

.orders-list__button--close {
  position: absolute;
  top: 30px;
  right: 30px;
}

.edit-modal_delete {
  display: flex;
  justify-content: center;
  column-gap: 10%;

  button {
    padding: 20px;
  }

}