body {
  font-family: 'Poppins', sans-serif;
  background: #F5F5F5;
}

.container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
}

.loading {
  text-align: center;
  padding-top: 50px;
}
/* HEADER */
.home__header {
  background-image: url(../img/header.jpeg);
  display: block;
  height: 600px;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.navigation__list {
  width: 700px;
  display: flex;
  justify-content: space-between;

}

.navigation--item {
  color: #0b0a0a;
  font-weight: 500;
  transition: all 0.3s ease-in;

}

.navigation--item:hover {
  transition: all 0.3s ease-in;
}

.home__header--text {
  max-width: 550px;
  padding: 50px 0;
}

.home__header--text h1{
  font-weight: 700;
  font-size: 100px;
  color: #FFFFFF;
}

.home__header--text p{
  padding-top: 50px;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  color: #FFFFFF;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.arrow--btn {
  display: flex;
  align-items: center;
  padding-top: 110px;
  column-gap: 10px;
}


.arrow--btn a{
  color: #FFFFFF;
}

.arrow--btn:hover {
  color: #0b0a0a;
}

.arrow--btn svg{
  fill: #FFFFFF;
}

/* CATEGORIES */

.home__categories--row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}

.home__categories--card {
  background-image: url('../img/card.jpg');
  width: 350px;
  height: 400px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 25px;
}

.home__categories--card p{
padding: 30px;
}

.home__categories h2 {
  font-weight: 700;
  font-size: 30px;
  padding-top: 100px;
}

/* ABOUT */
.home__about {
  padding: 120px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__about--section-name {
  margin-bottom: 107px;
  font-weight: 400;
  font-size: 20px;
}

.home__about--title {
  max-width: 350px;
  font-weight: 700;
  font-size: 50px;
  line-height: 73px;
}

.home__about--text {
  max-width: 600px;
}

.home__about--discription {
  padding-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8B8B8B;
}

.home__about--text .arrow--btn a{
  color: #0b0a0a;
}

.home__about--text .arrow--btn svg{
  fill: #0b0a0a;
}

/* LOGIN */

.login__page {
  background-image: url(../img/login.jpeg);
  display: block;
  height: 100vh;
  width: 100%;
}

.login__container {
  display: flex;
  justify-content: center;
}

.login__card {
  width: 400px;
  height: 300px;
  margin-top: 100px;
  padding: 50px;
  background: rgba(29, 30, 29, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
}

.login__title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.login__form {
  padding: 50px 0;
}

.input-element {
  padding: 20px 0;
}

/* SHOP */
.shop__title {
  padding: 40px 0;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}

.shop__subtitle {
  padding: 10px 0;
  font-size: 25px;
  text-align: center;
  font-weight: 400;
}

.shop__section {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.shop__items {
  width: 1000px;
}

.shop__items--list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.shop__items--bar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.shop__item {
  padding: 20px;
}

.shop__item h5{
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
}

.shop__item p{
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #8B8B8B;
}

.shop__item--text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.shop__categories {
  background-color: #e6e5e5;
  padding: 10px;
  width: 150px;
}

.shop__category {
  cursor: pointer;
  padding: 15px;
}

.shop__category-active {
  cursor: pointer;
  padding: 15px;
  color: rgb(157, 132, 113);
}

.reset-categories-btn {
  padding: 15px;
  cursor: pointer;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.search-input {
  margin-left: 20px;
  width: 40%;
  border: none;
  border-bottom: 1px solid rgb(68, 68, 68);
  background-color: transparent;
  color: inherit;
  outline: none;
}

/* PAGINATION */
.pagination {
  margin: 0px 20px;
  display: flex;
  justify-content: center;
}

.page__item-active .page-link{
  border-bottom: 1.5px solid rgb(68, 68, 68);
}

.page-link {
  margin: 0px 5px;
  cursor: pointer;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.sort-button {
  margin-right: 100px;
  column-gap: 5px;
  display: flex;
  cursor: pointer;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.add-cart-btn {
  padding-top: 10px;
  cursor: pointer;
  border: none;
  font: inherit;
  color: gray;
  background-color: transparent;
  transition: color 0.3s ease-in;

}

.add-cart-btn:hover {
  color: black;
  transition: color 0.3s ease-in;
}

/* CART */
.cart__title {
  padding: 40px 0;
  font-size: 40px;
  font-weight: 700;
}

.cart__container {
  display: flex;
  justify-content: space-between;
}

.cart__container--sum {
  background-color: #8B8B8B;
}

/* ITEMPAGE */
.item-page {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  background-color: #e6e5e5;
  padding: 30px 0;
}

.item-text {
  max-width: 400px;
}

.item-nav {
  margin-bottom: 15px;
}

.item-text h1 {
  margin-top: 15px;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 20px;
}

.item-text h4 {
  font-size: 15px;
  margin-bottom: 10px;
}

.item-text h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8B8B8B;
  margin-bottom: 30px;
}

.item-text p {
  font-size: 16px;
  color: #6f6c6c;
  font-weight: 500;

}

.item-btn {
  display: flex;
  justify-content: space-between;
}
